[submodule "tracker"]
	path = tracker
	url = git@github.com:tveebot/tracker.git
[submodule "common"]
	path = common
	url = git@github.com:tveebot/common.git
[submodule "tracker_cli"]
	path = tracker_cli
	url = git@github.com:tveebot/tracker_cli.git
